@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* LOGIN STYLING STARTS HERE */
.login-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to top, darkgray 0%, #330867 100%);
}

.box {
  border: 2px solid #dfdfdf;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5%;
}

.google-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
  color: whitesmoke;
}

.google-btn:hover {
  background-color: #32357e !important;
  transition: all 0.4s ease;
}

.google-btn > div,
.google-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
}

.btn-signup-recover {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.text-btn-signup-recover {
  color: #330867;
}

#evenimed-header {
  font-family: "Philosopher", sans-serif;
  color: #330867;
}

#evenimed-logo {
  font-family: "Philosopher", sans-serif;
  color: #330867;
  font-size: 1.6rem;
}

.login-button {
  background-color: #4285f4 !important;
  color: whitesmoke;
  border-radius: 0% !important;
}

.login-button:hover {
  background-color: #32357e !important;
  transition: all 0.4s ease;
}

.reset-instructions {
  font-size: 13px;
  color: #330867;
  margin-bottom: 0px;
  text-align: center;
}

/* LOGIN STYLING ENDS HERE */

/* EVENIMED STYLING STARTS HERE */
#k {
  background-color: #069;
}

#myAccount-button {
  color: #330867;
  font-size: 1.1rem;
  margin-left: -15px;
}

.privacy-policy-link {
  color: rgb(142, 150, 191);
  cursor: pointer;
  text-decoration: none;
}

.privacy-policy-link:hover {
  color: #30cfd0;
  text-decoration: underline;
  transition: all 0.4s ease;
}

#footer-message {
  color: lightgray;
  font-style: italic;
}

#footer-logo {
  font-weight: bolder;
}

/* EVENIMED STYLING ENDS HERE */

/* HOME STYLING BEGINS HERE */
.home-root {
  background-image: linear-gradient(to top, darkgray 0%, #330867 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.home-box {
  width: 80%;
  height: 90vh;
  border: 2px solid #dfdfdf;
  border-radius: 1%;
  background-color: rgba(255, 255, 255, 0.85);
}

#home-welcome {
  font-size: 30px;
  color: #330867;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#home-text {
  font-size: 20px;
  color: #330867;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.btn-sign-out {
  color: whitesmoke;
  margin-top: 20px !important;
  margin-bottom: 20px !important;

  background-color: #330867 !important;
  border: 1px solid rgb(142, 150, 191) !important;
  color: white !important;
}

.wrapper-for-sign-out {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-sign-out:hover {
  background-color: rgb(142, 150, 191) !important;
  transition: all 0.5s ease;
}

.btn-back-to-main-page {
  background-color: #330867 !important;
  border: 1px solid rgb(142, 150, 191) !important;
  color: white !important;
}

.btn-back-to-main-page:hover {
  background-color: rgb(142, 150, 191) !important;
  color: rgba(255, 255, 255, 0.85);
  transition: all 0.5s ease;
}

@media only screen and (max-width: 600px) {
  #home-welcome {
    font-size: 1rem;
    font-weight: 600;
  }
}

/* HOME STYLING ENDS HERE */

/* Privacy Policy starts here */

.privacy-policy-body {
  width: 100%;
  height: fit-content;
  background-color: rgba(128, 128, 128, 0.15);
}

.policy-header-1 {
  margin-left: 15px;
  font-size: 34px;
  font-weight: bold;
  margin-top: 20px;
}

.policy-header-2 {
  margin-left: 15px;
  font-size: 28px;
  font-weight: bold;
  text-decoration: underline;
}

.policy-header-3 {
  margin-left: 15px;
  font-size: 24px;
  font-weight: bold;
}

.privacy-reach-out {
  font-size: 20px;
  color: #330867;
  display: flex;
  align-self: center;
  justify-content: center;
}

.privacy-policy-body > p {
  margin-left: 20px;
}

/* Privacy Policy ends here */

/* CONTACT US STARTS HERE */

.contact-us-body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
}

.contact-us-form {
  background-color: rgba(128, 128, 128, 0.15);
  width: 50%;
  height: 100vh;
}

.contact-us-info {
  /* background-color: rgba(128, 128, 128, 0.15); */

  width: 50%;
  height: 100vh;
}

@media only screen and (max-width: 576px) {
  
  .contact-us-body {
    flex-direction: column;
    height: auto;
  }

}

@media only screen and (max-width: 1500px) and (min-width: 577px) {
  
  /* .box-slider {
    display: none;  
  }

  .special-price-range {
    display: none;
  } */

  .box-slider {
    max-width: 180px;
  }
}

#how-can-we-help {
  text-align: center;
  color: #330867;
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: bold;
}

#please-select {
  margin-left: 15px;
  margin-right: 15px;
}

#contact-ways {
  font-weight: bold;
}

.contact-form {
  margin-top: -44px;
}

.btn-send-message {
  background-color: #330867 !important;
  border: 1px solid rgb(142, 150, 191) !important;
  color: white !important;
}

.btn-send-message:hover {
  background-color: rgb(142, 150, 191) !important;
  color: rgba(255, 255, 255, 0.85);
  transition: all 0.5s ease;
}

/* CONTACT US ENDS HERE */

/* ABOUT US STARTS HERE */

.about-us-body {
  width: 100%;
  height: fit-content;
}

.about-us-section1 {
  background-color: rgb(147, 154, 184);
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: url("../assets//picture2.jpg");
  background-size: contain;
  opacity: 95%;
}

.about-us-section2 {
  background-color: #141617;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.the-evenimed-story {
  font-family: "Philosopher", sans-serif;
  font-size: 3rem;
  margin-top: -175px;
  color: white;
}

.message-box-1 {
  font-size: 1.5rem;
  width: 30%;
  height: auto;
  color: white;
  text-align: center;
  margin-top: 30px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}
.MuiSlider-thumb {
  overflow: hidden !important;
}

.message-box-1-chenar {
  padding: 20px;
  margin: 10px;
  border: 3px solid lightgray;
}
.message-box-2 {
  flex-wrap: wrap;
  font-size: 1.5rem;
  width: 65%;
  height: fit-content;
  color: lightgray;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
}

.message-box-2-message {
  font-size: 18px;
  text-align: left;
}

.you-italic {
  font-style: italic;
  color: rgb(142, 150, 191);
}

.mission-goals {
  font-size: 2.1rem;
  font-family: "Philosopher", sans-serif !important;
  color: white;
  margin-bottom: 30px;
}

.white {
  color: white;
  font-style: italic;
}

.testimonials {
  margin-top: 30px;
  margin-bottom: 30px;
}

.picture-about-us {
  max-width: 100%;
  height: auto;
}

/* ABOUT US ENDS HERE */

.card-text {
  color: #330867;
  font-weight: 600;
  font-style: italic;
}

.event-creation-form {
  color: #330867;
  font-weight: 600;
}

.btn-submit {
  background-color: #330867 !important;
  border: 1px solid rgb(142, 150, 191) !important;
  color: white !important;
}

.btn-submit:hover {
  background-color: rgb(142, 150, 191) !important;
  color: rgba(255, 255, 255, 0.85);
  transition: all 0.5s ease;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.everything-on-event-creation-form {
  height: 100% !important;
}

.form-creation {
  width: 60% !important;
}